.navbar-logo{
    float: left;
    height: 40px;
    margin: 5px 20px;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.ui-autocomplete {
  z-index: 8000;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.ui-autocomplete-input{
    width: 300px;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}

.progess-stat{
    width: 300px;
    margin: 2px;
}

.name-stat{
    width : 120px;
}

.val-stat{
    width : 50px;
}

.evo-chain {
    text-align: center;
}

.evo-chain section{
    display: inline-block;
    border: 1px solid #999999;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;  
}

.evo-chain section div{
    display: inline-block;
}
.evo-chain section img {
    width: 150px;
}
.evo-chain .current {
    font-weight: bold;
}
.chain-stade{
    border-top: 1px solid #CCCCCC;
    margin: 20px;
}

.boxmon{
    display: inline-block;
    margin: 10px 5px;
    width: 120px;
}

.fiche-img img{
	max-width : 290px;
}



/*
* Types
*/

.type-plante{
    background: #78c850;
    background-image: -webkit-linear-gradient(#78c850,#5ca935);
    background-image: -moz-linear-gradient(#78c850,#5ca935);
    background-image: -o-linear-gradient(#78c850,#5ca935);
    background-image: linear-gradient(#78c850,#5ca935);
    border-color: #4a892b;
}
.type-poison {
    background: #a040a0;
    background-image: -webkit-linear-gradient(#a040a0,#803380);
    background-image: -moz-linear-gradient(#a040a0,#803380);
    background-image: -o-linear-gradient(#a040a0,#803380);
    background-image: linear-gradient(#a040a0,#803380);
    border-color: #662966;
}
.type-feu {
    background: #f08030;
    background-image: -webkit-linear-gradient(#f08030,#dd6610);
    background-image: -moz-linear-gradient(#f08030,#dd6610);
    background-image: -o-linear-gradient(#f08030,#dd6610);
    background-image: linear-gradient(#f08030,#dd6610);
    border-color: #b4530d;
}
.type-vol {
    background: #a890f0;
    background-image: -webkit-linear-gradient(#a890f0,#9180c4);
    background-image: -moz-linear-gradient(#a890f0,#9180c4);
    background-image: -o-linear-gradient(#a890f0,#9180c4);
    background-image: linear-gradient(#a890f0,#9180c4);
    border-color: #7762b6;
}
.type-eau {
    background: #6890f0;
    background-image: -webkit-linear-gradient(#6890f0,#386ceb);
    background-image: -moz-linear-gradient(#6890f0,#386ceb);
    background-image: -o-linear-gradient(#6890f0,#386ceb);
    background-image: linear-gradient(#6890f0,#386ceb);
    border-color: #1753e3;
}
.type-normal {
    background: #8a8a59;
    background-image: -webkit-linear-gradient(#a8a878,#8a8a59);
    background-image: -moz-linear-gradient(#a8a878,#8a8a59);
    background-image: -o-linear-gradient(#a8a878,#8a8a59);
    background-image: linear-gradient(#a8a878,#8a8a59);
    border-color: #79794e;
}
.type-electrik {
    background: #f8d030;
    background-image: -webkit-linear-gradient(#f8d030,#f0c108);
    background-image: -moz-linear-gradient(#f8d030,#f0c108);
    background-image: -o-linear-gradient(#f8d030,#f0c108);
    background-image: linear-gradient(#f8d030,#f0c108);
    border-color: #c19b07;
}
.type-glace {
    background: #98d8d8;
    background-image: -webkit-linear-gradient(#98d8d8,#69c6c6);
    background-image: -moz-linear-gradient(#98d8d8,#69c6c6);
    background-image: -o-linear-gradient(#98d8d8,#69c6c6);
    background-image: linear-gradient(#98d8d8,#69c6c6);
    border-color: #45b6b6;
}
.type-combat {
    background: #c03028;
    background-image: -webkit-linear-gradient(#c03028,#9d2721);
    background-image: -moz-linear-gradient(#c03028,#9d2721);
    background-image: -o-linear-gradient(#c03028,#9d2721);
    background-image: linear-gradient(#c03028,#9d2721);
    border-color: #82211b;
}
.type-sol {
    background: #e0c068;
    background-image: -webkit-linear-gradient(#e0c068,#d4a82f);
    background-image: -moz-linear-gradient(#e0c068,#d4a82f);
    background-image: -o-linear-gradient(#e0c068,#d4a82f);
    background-image: linear-gradient(#e0c068,#d4a82f);
    border-color: #aa8623;
}
.type-psy {
    background: #f85888;
    background-image: -webkit-linear-gradient(#f85888,#f61c5d);
    background-image: -moz-linear-gradient(#f85888,#f61c5d);
    background-image: -o-linear-gradient(#f85888,#f61c5d);
    background-image: linear-gradient(#f85888,#f61c5d);
    border-color: #d60945;
}
.type-insecte {
    background: #a8b820;
    background-image: -webkit-linear-gradient(#a8b820,#8d9a1b);
    background-image: -moz-linear-gradient(#a8b820,#8d9a1b);
    background-image: -o-linear-gradient(#a8b820,#8d9a1b);
    background-image: linear-gradient(#a8b820,#8d9a1b);
    border-color: #616b13;
}
.type-roche {
    background: #b8a038;
    background-image: -webkit-linear-gradient(#b8a038,#93802d);
    background-image: -moz-linear-gradient(#b8a038,#93802d);
    background-image: -o-linear-gradient(#b8a038,#93802d);
    background-image: linear-gradient(#b8a038,#93802d);
    border-color: #746523;
}
.type-spectre {
    background: #705898;
    background-image: -webkit-linear-gradient(#705898,#554374);
    background-image: -moz-linear-gradient(#705898,#554374);
    background-image: -o-linear-gradient(#705898,#554374);
    background-image: linear-gradient(#705898,#554374);
    border-color: #413359;
}
.type-dragon {
    background: #7038f8;
    background-image: -webkit-linear-gradient(#7038f8,#4c08ef);
    background-image: -moz-linear-gradient(#7038f8,#4c08ef);
    background-image: -o-linear-gradient(#7038f8,#4c08ef);
    background-image: linear-gradient(#7038f8,#4c08ef);
    border-color: #3d07c0;
}
.type-tenebres {
    background: #705848;
    background-image: -webkit-linear-gradient(#705848,#513f34);
    background-image: -moz-linear-gradient(#705848,#513f34);
    background-image: -o-linear-gradient(#705848,#513f34);
    background-image: linear-gradient(#705848,#513f34);
    border-color: #362a23;
}
.type-acier {
    background: #b8b8d0;
    background-image: -webkit-linear-gradient(#b8b8d0,#9797ba);
    background-image: -moz-linear-gradient(#b8b8d0,#9797ba);
    background-image: -o-linear-gradient(#b8b8d0,#9797ba);
    background-image: linear-gradient(#b8b8d0,#9797ba);
    border-color: #7a7aa7;
}
.type-fee {
    background: #e898e8;
    background-image: -webkit-linear-gradient(#e898e8,#de6ede);
    background-image: -moz-linear-gradient(#e898e8,#de6ede);
    background-image: -o-linear-gradient(#e898e8,#de6ede);
    background-image: linear-gradient(#e898e8,#de6ede);
    border-color: #d547d5;
}

.type-large{
    border-radius: 5px;
    display: inline-block;
    margin: 0px 10px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.type-mini{
    font-size: 10px;
    border-radius: 2px;
    display: inline-block;
    margin: 0px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
}

.type-large:hover ,
.type-mini:hover{
    color : white;
    text-decoration: none;
}

.type-table tbody > tr > td{
    padding: 4px;
}

.table-hover > tbody > tr > td.dmg4{
    background-color: #ff8e8e;
}
.table-hover > tbody > tr > td.dmg2{
    background-color: #fcbdbd;
}
.table-hover > tbody > tr > td.dmg1{
    background-color: #FFFFFF;
}
.table-hover > tbody > tr > td.dmg0{
    background-color: #DDDDDD;
}
.table-hover > tbody > tr > td.dmg05{
    background-color: #c6ffb2;
}
.table-hover > tbody > tr > td.dmg025{
    background-color: #aaff8e;
}


.poke-nav{
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;    
}